{%load static%}

{% autoescape off %}



<div style="width: 100%;background-color: #efefef;    padding-top: 2em;
padding-bottom: 2em;">

    <div style="background-color: #fff;width: 80%;margin: 2em auto;">
        <h4 style="text-align: center;padding-top: 2em;">
            {{ title }}
        </h4>
        <div style="text-align: center;border-bottom: 1px solid #e3e3f5;
    margin-bottom: 1em;">
            <img src="{%static 'logo.png'%}" style="width: 6em;
    height: 6em;
    border: 1px solid #e1d6d6;
    border-radius: 50%;
    padding: 1em;
    background: black;
    margin-bottom: 1em;" />
        </div>


        <div style="
    padding: 2em;
    border-radius: 1em;">
            {{ message }}

        </div>
        <div style="text-align: center; margin-top:10px;    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #b3aaaa;
    padding-top: 1em;
    padding-bottom: 0.5em;background-color: #000;color: #fff;">
            Copyright &copy; cargointransit.online
        </div>
    </div>

</div>


{% endautoescape %}