{%load static%}

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>



<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'dashboard/lib/chart/chart.min.js'%}"></script>
<script src="{%static 'dashboard/lib/easing/easing.min.js'%}"></script>
<script src="{%static 'dasboard/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'dashboard/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{%static 'dasboard/lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{%static 'dashboard/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{%static 'dashboard/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.8/dist/medium-zoom.min.js" ></script>
  <script>
    
mediumZoom(' img',{margin: 24,
  background: '#000',
  scrollOffset: 0,
  metaClick: false})

</script>
<!-- Template Javascript -->
<script src="{%static 'dashboard/js/main.js' %}"></script>
</body>

</html>